# =============== #
# Unity generated #
# =============== #
Office Chair Jousting/Temp/
Office Chair Jousting/Library/

# Visual Studio 2015 cache directory
Office Chair Jousting/.vs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Office Chair Jousting/ExportedObj/
Office Chair Jousting/obj/
Office Chair Jousting/*.svd
Office Chair Jousting/*.userprefs
Office Chair Jousting/*.csproj
Office Chair Jousting/*.pidb
Office Chair Jousting/*.suo
Office Chair Jousting/*.sln
Office Chair Jousting/*.user
Office Chair Jousting/*.unityproj
Office Chair Jousting/*.booproj

# ============ #
# OS generated #
# ============ #
Office Chair Jousting/.DS_Store
Office Chair Jousting/.DS_Store?
Office Chair Jousting/._*
Office Chair Jousting/.Spotlight-V100
Office Chair Jousting/.Trashes
Office Chair Jousting/ehthumbs.db
Office Chair Jousting/Thumbs.db
Office Chair Jousting/Assets/_scenes/etc.meta~parent of cc66dab... More Enviroment Stuff added. Desert area and mountain added.meta
Office Chair Jousting/Assets/_scenes/etc.meta~HEAD.meta
Office Chair Jousting/Assets/Textures/Thumbs.db.meta
Office Chair Jousting/Assets/Scripts/desktop.ini
